<body id="cohort">
<h1>Edit <%=@cohort.name%></h1>

<%= form_for([@admin, @cohort]) do |f|%>

<p><%= f.label :name, "Cohort Name"%> <br>
  <%= f.text_field :name%></p>

<p><%= f.label :start_date, "Start Date"%> <br>
  <%= f.date_field :start_date%></p>

<p><%= f.label :end_date, "End Date"%> <br>
  <%= f.date_field :end_date%></p>

<p><%= f.label :course, "Select Course"%> <br>
  <%= f.select(:course_id, Course.all.collect{ |cr|
                                              ["#{cr.id}, #{cr.name}"]
                                              },{ :selected => @cohort.id})%>
</p>

<p><%= f.label :instructor, "Select Instructor"%> <br>
  <%= f.select(:instructor_id, Instructor.all.collect{ |inst|
                                              ["#{inst.id}, #{inst.full_name}"]
                                              },{ :selected => @cohort.id})%>
</p>

<p><%= f.label :student, "Select Students"%> <br>
  <%= f.collection_check_boxes :student_ids, Student.all, :id, :full_name do |st| %>
  <%= st.check_box %>
  <%= st.label %> <br>
  <%end%>
</p>

<p>
  <%= f.submit "Update Information" %>
</p>

<%end%>

</body>
