<div class="container">
  <div class="cohort-page-title center">
    <h1>Cohorts</h1>
    <a class="btn btn-secondary" href="<%= new_admin_cohort_path %>">Create Cohort</a>
  </div> <br>

<div class="cohort-table">
  <div class="cohort-table-header">
    <div></div>
    <div>Course</div>
    <div>Instructor</div>
    <div>Cohort</div>
    <div>Start Date</div>
    <div>End Date</div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="cohort-body">
    <%@cohort.reverse.each do |ch|%>
    <div class="cohort-row" id="cohort-<%=ch.id%>">
      <div class="cohort-table-img"><%="#{ch.name.first.capitalize}"%></div>
      <div>
        <%if ch.course != nil%>
        <%=ch.course.name%>
        <%else%>
        <%=link_to 'Add Course', edit_admin_cohort_path(session[:user_id], ch)%>
        <%end%>
      </div>
      <div>
        <%if ch.instructor != nil%>
        <%=ch.instructor.full_name%>
        <%else%>
        <%=link_to 'Add Instructor', edit_admin_cohort_path(session[:user_id], ch)%>
        <%end%>
      </div>
      <div><%=ch.name%></div>
      <div><%=ch.start_date.strftime('%b %d, %C%y')%></div>
      <div><%=ch.end_date.strftime('%b %d, %C%y')%></div>
      <div class="center">
        <a class="cohort-table-icon" href="<%= admin_cohort_path(session[:user_id], ch) %>">
          <img src="https://img.icons8.com/bubbles/500/000000/contact-card.png">
        </a>
      </div>
      <div class="center">
        <a class="cohort-table-icon" href="<%= edit_admin_cohort_path(session[:user_id], ch) %>">
          <img src="https://img.icons8.com/bubbles/500/000000/edit.png">
        </a>
      </div>

      <div class="center">
        <%= link_to admin_cohort_path(session[:user_id], ch), remote: true, method: :delete, data: {confirm: 'Are you sure?'}, class: 'cohort-table-icon' do %>
        <%= image_tag("https://img.icons8.com/bubbles/500/000000/minus.png",) %>
        <% end %>
      </div>
    </div>
  <%end%>
</div>
</div>

</div>
