<body id="cohort">
<h1><%=@cohort.name%></h1>

<p>Cohort Name: &nbsp <%=@cohort.name%></p>
<p>Start Date: &nbsp <%=@cohort.start_date%></p>
<p>End Date: &nbsp <%=@cohort.end_date%></p>
<p>Instructor: &nbsp  <%=@cohort.instructor.full_name%></p>
<p>Course: &nbsp <%=@cohort.course.name%></p>

<p>Students in this Cohort:</p>
<%if !@cohort.students.empty?%>
<ul>
  <%@cohort.students.each do |st|%>
  <li><%=st.full_name%></li>
  <%end%>
</ul>
  <%else%>
  <p>No student added!</p>
  <%end%>

<br>

<%= link_to 'Edit', edit_admin_cohort_path %>

</body>
