<div class="container">
  <div class="sub-container">
    <div></div>
    <div class="center">
      <h1>Create Account</h1>

      <% if @admin.errors.any? %>
      <% @admin.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
      <% end %>


      <%= form_for(@admin) do |f|%>

      <p><%= f.text_field :first_name, placeholder: "First Name" %> &nbsp

      <%= f.text_field :last_name, placeholder: "Last Name" %></p>

      <p><%= f.email_field :email, placeholder: "Email Address" %></p>

      <p><%= f.password_field :password, placeholder: "Password" %> &nbsp
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
      </p>

      <p>
        <%= f.submit "Create Account", :class => "btn-primary" %>
      </p>

      <%end%>
    </div>
    <div></div>
  </div>
</div>
