<% if session[:user_id] == nil%>
<div class="container">
  <div class="sub-container center">
    <div class="animate-down">
      <h1>You have no access to this site!!</h1>
      <%= link_to 'Sign Up', new_admin_path, class: "btn btn-primary"%>
      <%= link_to 'Log In', login_path, class: "btn btn-primary"%>
    </div>
  </div>
</div>
<% else %>

<div class="profile center">
  <div class="profile-card center">
    <div>
      <%= @admin.avatar.attachment.nil? ? content_tag(:div, "#{@admin.initials}", class: "default"): image_tag(@admin.avatar, class: "profile-img") if session[:user_id] %>
    </div>

    <div>
      <h1><%=@admin.first_name.capitalize%></h1>

      <h4>Full Name: &nbsp <%=@admin.full_name%></h4>
      <h4>Email: &nbsp <%=@admin.email%></h4>
      <br> <hr>
      <a class="icons" href="<%= edit_admin_path %>">
        <img src="https://img.icons8.com/bubbles/500/000000/edit.png">
      </a> &nbsp &nbsp &nbsp
      <a class="icons" href="<%= logout_path %>">
        <img src="https://img.icons8.com/bubbles/500/000000/shutdown.png">
      </a>
    </div>
  </div>
</div>
<% end %>
