<div class="container">
  <div class="student-page-title center">
    <h1>Students</h1>
    <a class="btn btn-secondary" href="<%= new_admin_student_path %>">Add New Student</a>
  </div> <br>

  <div class="student-table">
    <div class="student-table-header">
      <div></div>
      <div>Full Name</div>
      <div>Age</div>
      <div>Education</div>
    </div>

    <div class="student-table-body">
      <%@student.reverse.each do |st|%>
      <div class="student-row" id="student-<%=st.id%>">
        <%= st.avatar.attachment.nil? ? content_tag(:div, "#{st.initials}", class: "student-table-img"): image_tag(st.avatar, class: "table-img") if session[:user_id] %>
        <div><%=st.full_name%></div>
        <div><%=st.age%></div>
        <div><%=st.education%></div>
        <div class="center">
          <a class="student-table-icon" href="<%= admin_student_path(session[:user_id], st) %>">
            <img src="https://img.icons8.com/bubbles/500/000000/contact-card.png">
          </a>
        </div>
        <div class="center">
          <a class="student-table-icon" href="<%= edit_admin_student_path(session[:user_id], st) %>">
            <img src="https://img.icons8.com/bubbles/500/000000/edit.png">
          </a>
        </div>

        <div class="center">
          <%= link_to admin_student_path(session[:user_id], st), remote: true, method: :delete, data: {confirm: 'Are you sure?'}, class: 'student-table-icon' do %>
          <%= image_tag("https://img.icons8.com/bubbles/500/000000/minus.png",) %>
          <% end %>
        </div>
      </div>
      <%end%>
    </div>
  </div>

</div>
