<div class="profile center">
  <div class="profile-card center">
    <div>
      <%= @student.avatar.attachment.nil? ? content_tag(:div, "#{@student.initials}", class: "default"): image_tag(@student.avatar, class: "profile-img") if session[:user_id] %>
    </div>

    <div>
      <h1><%=@student.first_name.capitalize%>'s Profile</h1>

      <h4>Full Name: &nbsp <%=@student.full_name%></h4>
      <h4>Age: &nbsp <%=@student.age%></h4>
      <h4>Education: &nbsp <%=@student.education%></h4>
      <hr>
      <a class="icons" href="<%= edit_admin_student_path %>">
        <img src="https://img.icons8.com/bubbles/500/000000/edit.png">
      </a> &nbsp &nbsp &nbsp
      <span class="icons">
        <%= link_to admin_student_path(@student), remote: true, method: :delete, data: {confirm: 'Are you sure?'} do %>
        <%= image_tag("https://img.icons8.com/bubbles/100/000000/delete.png") %>
        <% end %>
      </span>  &nbsp &nbsp &nbsp
      <a class="icons" href="<%= admin_students_path %>">
        <img src="https://img.icons8.com/bubbles/500/000000/transaction-list.png">
      </a>

    </div>
  </div>
</div>
