<body id="instructor">
<h1><%=@instructor.first_name%> <%=@instructor.last_name%></h1>
<h2>Edit Information</h2>


<%=form_for([@admin, @instructor]) do |f|%>
<p><%= f.label :first_name, "First Name"%> <br>
  <%= f.text_field :first_name%></p>

<p><%= f.label :last_name, "Last Name"%> <br>
  <%= f.text_field :last_name%></p>

<p><%= f.label :age%> <br>
<%= f.number_field :age%></p>

<p><%= f.label :salary%> <br>
  <%= f.number_field :salary%></p>

<p><%= f.label :education%> <br>
  <%= f.select :education, ["Highschool Diploma", "Bachelor's Degree", "Master's Degree", "Ph.D"], :include_blank => true %></p>

<p>
  <%= f.submit "Update Information" %>
</p>

<%end%>

<br><br>
<%= link_to 'Home', root_path %>
</body>
