<body id="instructor">
<h1>Instructors</h1>

<ol>
  <%@instructor.each do |inst|%>
  <li>
    Full Name: &nbsp <%=inst.last_name%>,  <%=inst.first_name%> &nbsp
    Age: &nbsp <%=inst.age%> &nbsp
    Salary: &nbsp <%=inst.salary%> &nbsp
    Education: &nbsp <%=inst.education%> &nbsp
    <%= link_to 'Info',  admin_instructor_path(session[:user_id], inst)%> &nbsp
    <%= link_to 'Edit',  edit_admin_instructor_path(session[:user_id], inst)%> &nbsp
    <%= link_to "Delete", admin_instructor_path(session[:user_id], inst), remote: true, method: :delete, data: { confirm: 'Are you sure?'}, class: 'delete-item'%>
  </li>

  <%end%>
</ol>

</body>
