<div class="container">
<% if current_user = session[:user_id] %>
  <div class="sub-container">
    <div>
      <%admin = Admin.find(session[:user_id])%>
      <h1>Hello <%=admin.first_name%></h1>
      <h3>You are still logged in!</h3>

      <ul>
        <li><%= link_to 'Home', admin_path(session[:user_id]) %> </li>
        <li><%= link_to 'Create Instructor', new_admin_instructor_path(session[:user_id])%></li>
        <li><%= link_to 'Create Course', new_admin_course_path(session[:user_id]) %></li>
        <li><%= link_to 'Create Student', new_admin_student_path(session[:user_id]) %></li>
        <li><%= link_to 'Create Cohort',  new_admin_cohort_path(session[:user_id]) %></li>
        <li><%= link_to 'logout', logout_path %> </li>
      </ul>
    </div>
  </div>

<% else %>

  <div class="sub-container ">
    <div></div>
    <div class="center">
      <img class="hero-logo" src="/assets/logo.png">
      <h1>Welcome</h1>
      <!-- <p><%= link_to 'Create Account', new_admin_path%></p> -->
      <p><%= link_to 'Log In', login_path %></p>
    </div>
    <div></div>
  </div>

<% end %>
</div>
