<h1>Create Course</h1>

<%= form_for([@admin, @course]) do |f|%>

<p><%= f.label :name, "Course Name"%> <br>
  <%= f.text_field :name%></p>

<p><%= f.label :class_hours, "Class Hours"%> <br>
<%= f.number_field :class_hours%></p>

<p>
  <%= f.submit "Create Course"%>
</p>

<%end%>

<br><br>
<%= link_to 'Back To Menu', admin_path(@admin.id) %>
