<h1><%=@course.name%></h1>

<p>Course Name: &nbsp <%=@course.name%></p>
<p>Class Hours: &nbsp <%=@course.class_hours%></p>

<br>
<%= link_to 'Home', root_path %> &nbsp
<%= link_to 'Edit', edit_course_path %>
