<!DOCTYPE html>
<html>
<head>
  <title>AdminPanel</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <% if session[:user_id]!= nil%>
  <nav class="sidenav">
    <a href="/">
      <img src="/assets/logo.png">
    </a>
    <a href="/">Account</a>
    <a><%= link_to 'Dashboard', admin_path(session[:user_id]) %></a>
    <a><%= link_to 'Courses',  admin_courses_path(session[:user_id]) %></a>
    <a><%= link_to 'Students',  admin_students_path(session[:user_id]) %></a>
    <a><%= link_to 'Instructors',  admin_instructors_path(session[:user_id]) %></a>
    <a><%= link_to 'Cohorts',  admin_cohorts_path(session[:user_id]) %></a>
    <a><%= link_to 'Log Out',  logout_path %></a>
  </nav>
  <%end%>

  <div class="main">
    <%= yield %>
  </div>

</body>
</html>
