<!DOCTYPE html>
<html>
<head>
  <title>AdminPanel</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="alerts" class="center animate-up">
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>

  <% if session[:user_id]!= nil%>
  <nav class="sidenav">
    <a href="/">
      <h3>Luna's School</h3>
      <!-- <img src="/assets/logo.png"> -->
    </a>
    <ul>
      <li><a href="<%=admin_path(session[:user_id])%>">My Profile</a></li>
      <li ><a href="<%=root_path(session[:user_id])%>">Dashboard</a></li>
      <li ><a href="<%=admin_courses_path(session[:user_id])%>">Courses</a></li>
      <li ><a href="<%=admin_students_path(session[:user_id])%>">Students</a></li>
      <li ><a href="<%=admin_instructors_path(session[:user_id])%>">Instructors</a></li>
      <li ><a href="<%=admin_cohorts_path(session[:user_id])%>">Cohorts</a></li>
      <li><a href="<%=logout_path%>">Log Out</a>
      </ul>
    </nav>
    <%end%>

    <div class="main">
      <%= yield %>
    </div>

    <script>

      console.log("testing");

      let alertbx = document.getElementById('alerts');
      console.log(alertbx);
      alertbx.addEventListener("load", setTimeout(function (){
        let alertbox = document.querySelector('.alert');
        alertbox.classList.add("hidden");
      }, 2000));


    </script>
  </body>
  </html>
